
.productsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .productsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .productsGrid {
        grid-template-columns: 1fr;
    }
}
